@font-face {
  font-family: "fa-subset";
  src:url("../font/fa-subset.eot");
  src:url("../font/fa-subset.eot?#iefix") format("embedded-opentype"),
    url("../font/fa-subset.woff") format("woff"),
    url("../font/fa-subset.ttf") format("truetype"),
    url("../font/fa-subset.svg#fa-subset") format("svg");
  font-weight: normal;
  font-style: normal;
}

.sr-only {
  display: block;
  position: fixed;
  left: -10000px;
}

.glo.buttonicon {
  font-family: "fa-subset";
}

.buttonicon.agreement:before{
  content: "\e801";
}

.buttonicon.action:before{
  content: "\e800";
}
