@font-face {
  font-family: "fa-subset";
  src:url("../font/fa-subset.eot");
  src:url("../font/fa-subset.eot?#iefix") format("embedded-opentype"),
    url("../font/fa-subset.woff") format("woff"),
    url("../font/fa-subset.ttf") format("truetype"),
    url("../font/fa-subset.svg#fa-subset") format("svg");
  font-weight: normal;
  font-style: normal;
}

#editorcontainer,
#editorcontainerbox {
  position: static !important;
  top: auto;
  bottom: auto;
}

.sr-only {
  display: block;
  position: fixed;
  left: -10000px;
}

.toolbar {
  background-color: #fff;
  border-bottom: none;
  padding: 0;
}

.toolbar ul {
  padding-left: 0;
  padding-right: 0;
}

.toolbar ul li {
  margin-left: 0;
}

.toolbar ul li a.grouped-left,
.toolbar ul li a.grouped-right,
.toolbar ul li a {
  display: block;
  border: none;
  background: none;
  padding: .75em;
  border-radius: 0;
  color: #666;
}

.toolbar ul li a:hover {
  background: #666;
  color:#fafafa;
}

.toolbar ul li a:hover .buttonicon {
  color: #fff;
}

.glo.buttonicon {
  font-family: "fa-subset";
}

.buttonicon.agreement:before{
  content: "\e801";
}

.buttonicon.action:before{
  content: "\e800";
}
