<li class="acl-write separator"></li>
<%
  // grab the settings object
  var settings = require("ep_etherpad-lite/node/utils/Settings");
  // iterate through the actions array
  settings.ep_getselectionandpost.actions.forEach( function( action ){
%>
<li class="acl-write post-selection-button">
  <a
    title="<%= action.title %>"
    class="grouped-left buttonicon <%= action.classes %>"
    id="<%= action.id %>"
  >
    <span>
      <span class="sr-only"><%= action.label %></span>
    </span>
  </a>
</li>
<% }); %>
