<li class="acl-write separator"></li>
<li class="acl-write post-selection-button">
  <a title="Log Selection" class="grouped-left">
    <span class="buttonicon fa fa-star">Log Selection</span>
  </a>
</li>
